.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-search-form {
  padding-left: 5vw;
  padding-right: 5vw;
  width: 100vw!important;
  border: none;
}
input.form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0 !important;
  outline: none;
  border-color: #DDDDDD;
}
.input-group-text {
  border: 0;
  background-color: #FFFFFF;
  border-radius: 0 !important;
}

.search-icon {
  font-size: 20pt;
  font-weight: 1000;
}
.form-control:focus {
  box-shadow: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0 !important;
  border-color: #777777;
}
.table thead th {
  border-top: none;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F7F7F7;
}

.dish-list {
  margin-top: 8vh;
}
