html * {
  color: #000 !important;
  font-family: Montserrat !important;
}

.App {

}

.App-logo-img {
  height: 3vh;
  margin-left: 6vh;
}

.ribbon {
  height: 10vh;
  margin-top: 4vh;
  padding-right: 6vh;
  max-height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.menu-text {
  font-size: 12pt;
  font-weight: bold;
  color: #000000;
}

.main-container {
  padding-top: 10vh;
  width: 50vw;
}

.magnifying-glass {
  height: 4vh;
}

.navbar-menu {
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centering y-axis */
}
.nav-item {
  margin-left: .5vw;
}

.main-search-form {
  padding-top: 9vh;
  width: 100vw !important;
  border: none;
}
input.form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0 !important;
  outline: none;
  border-color: #DDDDDD;
}
.input-group-text {
  border: 0;
  background-color: #FFFFFF;
  border-radius: 0 !important;
}

.search-icon {
  font-size: 20pt;
  font-weight: 900;
}
.form-control:focus {
  box-shadow: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0 !important;
  border-color: #777777;
}
.table thead th {
  border-top: none;
  font-weight: 900;
}

.summary {
  margin-top: 10vh;
  font-size: 20pt;
  font-weight: 900;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F7F7F7;
}

.dish-list {
  margin-top: 12vh;
}