html * {
  color: #000 !important;
  font-family: Roboto Mono !important;
}

.App {

}

.App-logo-img {
  height: 3vh;
  margin-left: 0vh;
}

.ribbon {
  height: 10vh;
  margin-top: 0vh;
  padding-right: 0vh;
  max-height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 2px;
}

.menu-text {
  font-size: 12pt;
  font-weight: bold;
  color: #000000;
}

.main-container {
  padding-top: 10vh;
}

.magnifying-glass {
  height: 4vh;
}

.navbar-menu {
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centering y-axis */
}
.nav-item {
  margin-left: .5vw;
}

.main-search-form {
  padding-top: 9vh;
  width: 100vw !important;
  border: none;
}
input.form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0 !important;
  outline: none;
  border-color: #000;
}
.input-group-text {
  border: 0;
  background-color: #FFFFFF;
  border-radius: 0 !important;
}

.search-icon {
  font-size: 20pt;
  font-weight: 900;
}
.form-control:focus {
  box-shadow: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0 !important;
  border-color: #000;
}

.table thead th {
  border-top: none;
  font-weight: 900;
}

tr.greyed-rows {
  background-color: rgba(61, 67, 247, 0.1);
}

.summary {
  padding-left: 0vw;
  margin-top: 10vh;
  font-size: 12pt;
  font-weight: 900;
}

.summary-text {
  display: flex;
  align-items: flex-start;
}

.summary-text-caption {
  width: 60%;
}

.summary-value {
  width: 14%;
  padding: .75rem;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F7F7F7;
}

.table-hover tbody tr.greyed-rows:hover td {
  background-color: rgba(61, 67, 247, 0.2);
}

.dish-list {
  margin-top: 12vh;
}

.stats {
  display: flex;
  align-items: flex-start;
  height: .7vh;
}

.footer {  
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
  font-size: 16pt;
}
